<form action={~p"/channels"} method="post">
    <input type="hidden" name="_csrf_token" value={get_csrf_token()}>
  
    <label for="channel_id">YouTubeのチャンネルIDを入力してください</label>
    <input type="text" name="channel_id" id="channel_id" required>
  
    <button type="submit">登録する</button>
  </form>
  