<div>
    <h1>動画リスト</h1>
    <ul>
        <%= for video <- @videos do %>
            <li>
                <a href={video.video_url}>
                    <%= video.title %>
                    <img src={video.thumbnail_url} alt={video.title} />
                </a>
            </li>
        <% end %>
    </ul>
</div>