<div>
    <div class="grid grid-cols-4 gap-4">
        <%= for video <- @videos do %>
            <div>
                <a href={video.video_url}>
                    <img 
                        width="300"
                        height="200"
                        src={video.thumbnail_url}
                        alt={video.title} />
                    <%= video.title %>
                </a>
            </div>
        <% end %>
    </div>
</div>