<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="font-bold text-xl">
      Phoenix Video Player
    </div>
  </div>
</header>
<main>
  <div class="p-4">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
